<!doctype html>
<html lang="zh-CN">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Refresh" content="1; url=http://a.app.qq.com/o/simple.jsp?pkgname=com.tommy.mjtt_an_pro">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <title>美景听听-让旅行更有内涵</title>


    <style>
        body {
            margin: 0px;
            padding: 0px;
        }
        .img {
            width: 100%;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>

<body>
    <img class="img" src="{% static 'images/app_download.png'  %}">
</body>

</html>
